* {
  font-family: "Staatliches", cursive;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-image: repeating-linear-gradient(0deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px, transparent 2px, transparent 21px), repeating-linear-gradient(90deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px, transparent 2px, transparent 21px), linear-gradient(90deg, rgb(11, 6, 59), rgb(11, 6, 59));
  margin: 0px;
  text-align: center;
}

.ScrolltoTop {
  position: fixed;
  bottom: 100px;
  right: 30px;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #000;
  color: #2d5ff5;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 65px;
  padding-top: 15px;
  margin: 0px;
}

h1:hover {
  color: #3aae6d;
}

h2 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 42px;
  text-align: left;
  margin: 14px;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.cont2 {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
}

.back {
  opacity: 0.8;
  margin: 10px;
}

.back:hover {
  background-color: #2d5ff5;
  transition: ease-in-out 0.4s;
  border-radius: 10px;
}

.exptext {
  margin-bottom: 20px;
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px 0px black;
}

.artg {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.artigo1 {
  opacity: 0.8;
  margin: 15px 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.artgtext1 {
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  text-align: left;
  margin: 4px;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 3px 3px 0px rgb(54, 54, 54);
}

.artigo1:hover {
  background-color: #2d5ff5;
  transition: ease-in-out 0.4s;
  border-radius: 10px;
}

.artigo2 {
  opacity: 0.8;
  margin: 15px 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.artgtext2 {
  font-size: 22px;
  font-family: "Kanit", sans-serif;
  text-align: left;
  margin: 4px;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 3px 3px 0px rgb(54, 54, 54);
}

.beach {
  text-decoration: none;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  text-shadow: none;
}

.beach:hover {
  background-color: #2d5ff5;
  transition: ease-in-out 0.4s;
  border-radius: 10px;
  padding: 2px;
}

.web {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
}

.webSite {
  width: 600px;
  margin: 10px;
}

.webSiteProject {
  margin: 10px;
}

.foto-web {
  width: 420px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  filter: grayscale(1);
}

.foto-web2 {
  width: 420px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  filter: grayscale(1);
}

.foto-web3 {
  width: 420px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
  filter: grayscale(1);
}

.video-web {
  width: 100%;
  display: flex;
  margin: 0 auto;
  opacity: 0.4;
  filter: grayscale(1);
}

.foto-web3d {
  width: 420px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 5px 0px black;
  filter: grayscale(1);
}

.textweb {
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  margin: 0 auto;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

hr {
  border-radius: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
}

.TextProject {
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  text-align: left;
  margin: 4px;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 3px 3px 0px rgb(54, 54, 54);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
}

ul {
  display: flex;
}

ul li {
  display: block;
  color: black;
  font-size: 30px;
  width: 60px;
  height: 60px;
  background: #2d5ff5;
  line-height: 60px;
  border-radius: 50%;
  margin: 2px 4px;
  transition: all 0.2s ease;
}

ul li:hover {
  opacity: 0.6;
  background: #3aae6d;
  width: 60px;
  height: 60px;
  display: block;
  line-height: 65px;
  border-radius: 50%;
  margin: 2px 8px;
  transition: all 0.2s ease;
}

#preloader {
  background: #000;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
}

.triangle {
  margin: 0 auto;
  stroke-dasharray: 17;
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
  from {
    stroke-dasharray: 17;
  }
  to {
    stroke-dashoffset: 136;
  }
  0% {
    stroke: #3aae6d;
  }
  100% {
    stroke: #2d5ff5;
  }
}
@keyframes into {
  from {
    justify-content: center;
    width: 420px;
  }
  to {
    width: 400px;
  }
}
@media (max-width: 999px) {
  .perfil {
    display: flex;
  }
  .ScrolltoTop {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 70px;
  }
  ul li {
    width: 70px;
    height: 70px;
    line-height: 72px;
    font-size: 40px;
  }
  ul li:hover {
    width: 65px;
    height: 65px;
    line-height: 60px;
  }
  .link {
    font-size: 40px;
  }
  .link:hover {
    font-size: 40px;
  }
  .foto-web {
    width: 400px;
  }
  .textweb {
    font-size: 14px;
  }
  .webSiteText {
    font-size: 28px;
  }
  .artgtext2 {
    font-size: 28px;
  }
  .experience {
    font-size: 24px;
  }
  .webSiteProject {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */