* {
    font-family: "Staatliches", cursive;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    background-color: #000;
    margin: 0px;
    text-align: center;
  }

  form{
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(87, 87, 87, 0.45);
    border: 1px solid rgba(109, 142, 161, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin: 0 auto;
    width: 800px;
    background-image: url(../images/fundocontact.png);
    background-position: center;
  }

  .space-label{
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px; 
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  h1 {
    color: white;
    text-shadow: 5px 5px 0px black;
    font-size: 65px;
    padding-top: 15px;
    margin: 0px;
  }
  
  h1:hover{
    color: #a3a3a3;
    opacity: 0.7;
  }
  
  h2 {
    margin: 5px;
    color: white;
    text-shadow: 5px 5px 0px black;
    font-size: 65px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    color: white;
    text-shadow: 5px 5px 0px black;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
  }
  
  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    background-image: repeating-linear-gradient(
        90deg,
        hsla(196, 0%, 79%, 0.06) 0px,
        hsla(196, 0%, 79%, 0.06) 1px,
        transparent 1px,
        transparent 96px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(196, 0%, 79%, 0.06) 0px,
        hsla(196, 0%, 79%, 0.06) 1px,
        transparent 1px,
        transparent 96px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(196, 0%, 79%, 0.09) 0px,
        hsla(196, 0%, 79%, 0.09) 1px,
        transparent 1px,
        transparent 12px
      ),
      repeating-linear-gradient(
        90deg,
        hsla(196, 0%, 79%, 0.09) 0px,
        hsla(196, 0%, 79%, 0.09) 1px,
        transparent 1px,
        transparent 12px
      ),
      linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      );
    border-radius: 5px;
    border: 0px;
    word-wrap: break-word;
    box-shadow: 5px 5px 0px black;
  }
  
  textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 175px;
    font-size: 20px;
    text-align: left;
    background-image: repeating-linear-gradient(
        90deg,
        hsla(196, 0%, 79%, 0.06) 0px,
        hsla(196, 0%, 79%, 0.06) 1px,
        transparent 1px,
        transparent 96px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(196, 0%, 79%, 0.06) 0px,
        hsla(196, 0%, 79%, 0.06) 1px,
        transparent 1px,
        transparent 96px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(196, 0%, 79%, 0.09) 0px,
        hsla(196, 0%, 79%, 0.09) 1px,
        transparent 1px,
        transparent 12px
      ),
      repeating-linear-gradient(
        90deg,
        hsla(196, 0%, 79%, 0.09) 0px,
        hsla(196, 0%, 79%, 0.09) 1px,
        transparent 1px,
        transparent 12px
      ),
      linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      );
    border-radius: 5px;
    box-shadow: 5px 5px 0px black;
  }
  
  .nome {
    width: 300px;
    height: 40px;
    text-align: left;
    border-radius: 5px;
  }
  
  .sub {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 0px black;
    transition: transform 0.3s ease;
  }
  
  .sub:hover{
    filter: blur(1px);
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  ul {
    display: flex;
  }
  
  ul li {
    display: block;
    color: black;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #b4b4b4;
    line-height: 60px;
    border-radius: 50%;
    margin: 2px 4px;
    transition: all 0.2s ease;
  }
  
  ul li:hover {
    opacity: 0.6;
    background: #ffffff;
    width: 60px;
    height: 60px;
    display: block;
    line-height: 65px;
    border-radius: 50%;
    margin: 2px 8px;
    transition: all 0.2s ease;
  }
  
  h3 {
    margin: 10px;
    color: white;
    text-shadow: 5px 5px 0px black;
    font-size: 40px;
    text-align: center;
  }
  
  video {
    width: 800px;
    margin: 10px;
    position: relative;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 0px black;
    filter: grayscale(1);
  }

  .VideoLoader{
    width: 48%;
  }

  #preloader{
    background: #000;
    background: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
  }
  
  .finaltext {
    font-size: 30px;
    margin: 10px;
  }
  
  .styletext {
    color: #2a96fc;
  }
  
  .hidden {
    width: 50px;
    height: 50px;
    color: transparent;
  }
  
  @media (max-width: 999px) {
    .nome {
      width: 400px;
      height: 60px;
      font-size: 35px;
    }
  
    header {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 10px 20px; 
      flex-wrap: wrap; 
    }

  
    footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px; 
      flex-wrap: wrap;
    }
    
  
    .email {
      width: 600px;
      height: 80px;
      font-size: 35px;
    }
  
    textarea {
      width: 700px;
      height: 200px;
      font-size: 30px;
    }
  
    .sub {
      width: 250px;
      height: 55px;
      font-size: 35px;
    }
  
    label {
      font-size: 30px;
    }
  
    h1{
      font-size: 60px;
    }
  
    h2 {
      font-size: 65px;
    }
  
    ul li {
      width: 70px;
      height: 70px;
      line-height: 72px;
      font-size: 40px;
    }
  
    ul li:hover {
      width: 65px;
      height: 65px;
      line-height: 60px;
    }
  
    .finaltext {
      font-size: 35px;
    }
  
    .footertext{
      font-size: 35px;
    }
  
    ul li{
      width: 70px;
      height: 70px;
      font-size: 40px;
      line-height: 73px;
    }
  
    ul li:hover{
      width: 65px;
      height: 65px;
      line-height: 60px;
    }

    .VideoLoader{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
  