body {
  background-color: black;
  margin: 0px auto;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  padding: 10px 20px;
  margin: 0px 0px;
}

h2 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  color: white;
  font-size: 64px;
  text-align: left;
  margin: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 38px;
  text-align: left;
  margin: 20px;
  color: white;
  opacity: 0.8;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
}

video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  width: 48%;
  border-radius: 10px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 10px;
}

.TextProject {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-align: left;
  margin: 10px;
  color: white;
  opacity: 0.8;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.TextProject:hover {
  opacity: 1;
}

h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  color: white;
  font-size: 80px;
  padding-top: 10px;
  margin: 0px;
}

h1:hover {
  color: #a3a3a3;
}

a {
  text-decoration: none;
}

.VideoLoader {
  width: 48%;
}

#preloader {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin: 0px auto;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #00b7ff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  /* Impede que interfira com cliques */
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  z-index: 1;
  mix-blend-mode: difference;
}

::-moz-selection {
  background: white;
  color: black;
  mix-blend-mode: difference;
}

::selection {
  background: white;
  color: black;
  mix-blend-mode: difference;
}

@media (max-width: 999px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  video {
    width: 96%;
  }
  h2 {
    font-size: 45px;
  }
  h1 {
    font-size: 68px;
  }
}
/*# sourceMappingURL=stylevideomaker.css.map */