* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
  margin: 0px;
  text-align: center;
  font-family: "Kanit", cursive;
}

.ScrolltoTop {
  position: fixed;
  bottom: 100px;
  right: 30px;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.scrollIcon {
  width: 120px;
  opacity: 0.6;
}

.title {
  font-size: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 65px;
  padding-top: 15px;
  margin: 0px;
  font-family: "Staatliches", cursive;
}

h1:hover {
  color: #a3a3a3;
}

h2 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: white;
  text-shadow: 5px 5px 0px black;
  font-size: 46px;
  text-align: left;
  margin: 15px;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.cont2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  opacity: 0.8;
}

.exptext {
  margin-bottom: 20px;
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px 0px black;
}

.artg {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.artgtext1 {
  font-size: 40px;
  text-align: left;
  margin: 4px;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 3px 3px 0px rgb(54, 54, 54);
}

.beach {
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
}

.web {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.webSiteProject {
  margin: 10px;
}

.foto-web {
  width: 620px;
  margin: 60px;
  opacity: 0.8;
  filter: grayscale(0);
}

.logo-web {
  width: 200px;
  cursor: pointer;
  opacity: 0.8;
}

button {
  height: 40px;
  margin: 10px;
}

.foto-web3 {
  width: 620px;
  margin: 10px;
  opacity: 0.8;
  filter: grayscale(0);
}

.foto-web4 {
  width: 60%;
  margin: 10px;
  opacity: 0.8;
  border-radius: 10px;
  filter: grayscale(0);
}

.cont1 {
  margin: 0 auto;
  align-items: center;
}

video {
  display: flex;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;
}

.cont3 {
  width: 400px;
  margin: 0 auto;
  align-items: center;
}

.photo-web {
  width: 30%;
  opacity: 1;
  margin: 20px;
}

.textweb {
  font-size: 18px;
  margin: 0 auto;
  color: white;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

hr {
  border-radius: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
}

.TextProject {
  font-size: 40px;
  text-align: left;
  margin: 4px;
  color: white;
  opacity: 0.8;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: 3px 3px 0px rgb(54, 54, 54);
}

.TextProject:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
}

ul {
  display: flex;
}

ul li {
  display: block;
  color: black;
  font-size: 30px;
  width: 60px;
  height: 60px;
  background: #b4b4b4;
  line-height: 60px;
  border-radius: 50%;
  margin: 2px 4px;
  transition: all 0.2s ease;
}

ul li:hover {
  opacity: 0.6;
  background: #ffffff;
  width: 60px;
  height: 60px;
  display: block;
  line-height: 65px;
  border-radius: 50%;
  margin: 2px 8px;
  transition: all 0.2s ease;
}

.VideoLoader {
  width: 100%;
}

#preloader {
  background: #000;
  background: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

@keyframes into {
  from {
    justify-content: center;
    width: 420px;
  }
  to {
    width: 400px;
  }
}
@media (max-width: 999px) {
  .perfil {
    display: flex;
  }
  .ScrolltoTop {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 70px;
  }
  ul li {
    width: 70px;
    height: 70px;
    line-height: 72px;
    font-size: 40px;
  }
  ul li:hover {
    width: 65px;
    height: 65px;
    line-height: 60px;
  }
  .link {
    font-size: 40px;
  }
  .link:hover {
    font-size: 40px;
  }
  .foto-web {
    width: 400px;
  }
  .photo-web {
    width: 60%;
  }
  video {
    width: 80%;
  }
  .textweb {
    font-size: 14px;
  }
  .webSiteText {
    font-size: 28px;
  }
  .artgtext2 {
    font-size: 28px;
  }
  .experience {
    font-size: 24px;
  }
  .webSiteProject {
    margin: 0 auto;
  }
  .VideoLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */